<div class="mdlgscreens-query d-flex align-items-center flex-column bd-highlight">
  <div class="bd-highlight pt-5 my-5">
    <img class="venmu-logo" src="https://res.cloudinary.com/detnzqadn/image/upload/v1599238023/Captura_de_Pantalla_2020-09-03_a_la_s_15.31.58_nbnzr6.png" alt="venmu logo">
  </div>
  <div class="bd-highlight mb-3">
    <h2>Unleash the magic of VenMu on your mobile phone!</h2>
  </div>
</div>
