<div class="navigation-bar-white">

    <div id="main-back-button" class="d-flex align-items-center justify-content-center"><i class="fas fa-chevron-left"></i></div>

  <div id="main-menu-button" class="main-menu-white"><i class="fas fa-bars"></i></div>
</div>
<div class='navigation top ' id="main-menu-nav">
  <div id="main-menu-close"><i class="fas fa-times"></i></div>

</div>

