<div class="navigation-bar">
  <div id="main-back-button" class="d-flex align-items-center justify-content-center"><i class="fas fa-chevron-left"></i></div>
  <div id="main-menu-button" class="main-menu-black"><i class="fas fa-bars"></i></div>
</div>
<div class='navigation top ' id="main-menu-nav">
  <div id="main-menu-close"><i class="fas fa-times"></i></div>
  <h1 id="nosignupTitle" class="mt-5 ml-3 mr-3 pb-2">VenM̃u</h1>
  <p class="ml-3 mt-3 notlogged-in-label">Already a VenM̃uist?</p>
  <%= link_to new_user_session_path do %>
  <div class="d-flex justify-content-center btn btn-primary rounded m-3 btn-nav-no">
    <h5 class= "notlogged-in-label">Sign in!</h4>
  </div>
  <% end %>

  <p class="ml-3 mt-4 notlogged-in-label">Become a VenM̃uist</p>
  <%= link_to new_user_registration_path do %>
  <div class="d-flex justify-content-center btn btn-primary rounded m-3 btn-nav-no">
    <h5 class= "notlogged-in-label">Sign up now!</h4>
  </div>
  <% end %>
</div>

