<div class="home-main">
  <% if current_user %>
    <%= render 'shared/navbar-home-online' %>
  <% else %>
    <%= render 'shared/navbar-home-offline' %>
  <% end %>

  <div class="home_page_title_container">
    <div id="mu"></div>
    <h1 class="home_page_title">VenMu</h1>
    <p class="home_page_subtitle">Your music. New places.</p>
    <div class="spotify">
      <p class="spotify-text d-flex justify-content-center ">Connect to spotify to find places that match your favorite music!</p>
      <%= link_to '/connect', method: :get do %>
      <img class="spotify-logo" src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fres.cloudinary.com%2Fdetnzqadn%2Fimage%2Fupload%2Fv1599105082%2FSpotify_Icon_RGB_White_tp04wp.png" alt="spotify logo">
      <% end %>
    </div>
  </div>
</div>
<div class="genre-card-container">

  <!-- slide rectangle -->
  <div class="slide-rectangle"></div>

  <div class="genre-text">or Pick a genre!</div>

  <div class='genre-cards-main'>
    <!-- Slider main container -->
      <div class="swiper-container s1">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <div class="swiper-slide main-genre">
            <div data-genre='rock' class="genre-container d-flex align-items-end" style="background-image: linear-gradient(rgba(9,11,9,0.3)80%, rgba(9,11,9,0.6) 35%), url(https://res.cloudinary.com/detnzqadn/image/upload/v1598479957/descarga_3_mgvflq.jpg)">
                <h4 class="genre-title">ROCK</h4>
            </div>
          </div>

          <div class="swiper-slide main-genre">
            <div data-genre='pop' class="genre-container d-flex align-items-end " style="background-image: linear-gradient(rgba(9,11,9,0.3)80%, rgba(9,11,9,0.6) 35%), url(https://res.cloudinary.com/detnzqadn/image/upload/v1598479957/photo-1514525253161-7a46d19cd819_ndlj2b.jpg)">
              <h4 class="genre-title">POP</h4>
            </div>
          </div>

          <div class="swiper-slide main-genre">
            <div data-genre='reggaeton' class="genre-container d-flex align-items-end" style="background-image: linear-gradient(rgba(9,11,9,0.3)80%, rgba(9,11,9,0.6) 35%), url(https://res.cloudinary.com/detnzqadn/image/upload/v1598479956/photo-1532981434728-a2706e29a80e_m44kil.jpg)">
              <h4 class="genre-title">REGGAETON</h4>
            </div>
          </div>

          <div class="swiper-slide main-genre">
            <div data-genre='latin' class="genre-container d-flex align-items-end" style="background-image: linear-gradient(rgba(9,11,9,0.3)80%, rgba(9,11,9,0.6) 35%), url(https://res.cloudinary.com/detnzqadn/image/upload/v1598479959/photo-1504609813442-a8924e83f76e_kcehsz.jpg)">
              <h4 class="genre-title">LATIN</h4>
            </div>
          </div>

          <div class="swiper-slide main-genre">
            <div data-genre='classical' class="genre-container d-flex align-items-end" style="background-image: linear-gradient(rgba(9,11,9,0.3)80%, rgba(9,11,9,0.6) 35%), url(https://res.cloudinary.com/detnzqadn/image/upload/v1598480137/dan-gold-YW9cBl03LmE-unsplash_toyjlx.jpg)">
              <h4 class="genre-title">CLASSICAL</h4>
            </div>
          </div>

          <div class="swiper-slide main-genre">
            <div data-genre='jazz' class="genre-container d-flex align-items-end" style="background-image: linear-gradient(rgba(9,11,9,0.3)80%, rgba(9,11,9,0.6) 35%), url(https://res.cloudinary.com/detnzqadn/image/upload/v1598480096/unnamed_wyze1e.jpg)">
              <h4 class="genre-title">JAZZ</h4>
            </div>
          </div>

          <div class="swiper-slide main-genre">
            <div data-genre='soul' class="genre-container d-flex align-items-end" style="background-image: linear-gradient(rgba(9,11,9,0.3)80%, rgba(9,11,9,0.6) 35%), url(https://res.cloudinary.com/detnzqadn/image/upload/v1598480137/derek-truninger-uLitVttkC7o-unsplash_if201c.jpg)">
              <h4 class="genre-title">SOUL</h4>
            </div>
          </div>

          <div class="swiper-slide main-genre">
            <div data-genre='dance' class="genre-container d-flex align-items-end" style="background-image: linear-gradient(rgba(9,11,9,0.3)80%, rgba(9,11,9,0.6) 35%), url(https://res.cloudinary.com/detnzqadn/image/upload/v1598480137/marcela-laskoski-YrtFlrLo2DQ-unsplash_b74bg3.jpg)">
              <h4 class="genre-title">DANCE</h4>
            </div>
          </div>



        </div>
        <!-- If we need pagination -->
      </div>
    </div>
  </div>

