#place-photo-label {
  position: relative;
  width: 100%;
  height: 1px !important;
  margin: 0 auto !important;
}

#place-photo-label::after {
  position:absolute;
  margin-top: 0px !important;
  background-color: $light-gray;
  color: $blue;
  width: 100%;
  height: 38px;
  border-radius: 25px;
  left: 0;
  content: "Photos";
  display: flex;
  justify-content: center;
  align-items: center;
}

.place_url {
  margin-bottom: 0px !important;
}

.select2-container{
  display: block;
    width: 100% !important;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $black;
    background-color: $white;
    background-clip: padding-box;
    border: 1px solid $light-gray;
    border-radius: 25px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.select2-selection{
  background-color: transparent !important;
  border: none !important;
  text-align: left;
}

.select2-search__field{
  border-radius: 25px !important;
}
.select2-search__field:focus{
  border:none !important;

}
.select2-dropdown{
  background-color: $white !important;
  border-radius: 25px;
  border: 1px solid $black;
}

.select2-results{
  color: $black !important;
}