#place-photo-label {
  position: relative;
  width: 100%;
  height: 1px !important;
  margin: 0 auto !important;
}

#place-photo-label::after {
  position:absolute;
  margin-top: 0px !important;
  background-color: $light-gray;
  color: $blue;
  width: 100%;
  height: 38px;
  border-radius: 25px;
  left: 0;
  content: "Photos";
  display: flex;
  justify-content: center;
  align-items: center;
}

.place_url {
  margin-bottom: 0px !important;
}