.genre-card-container {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  z-index: 1;
  width: 100vw;
  position: relative;
  top: 91vh;
  background: linear-gradient(180deg, $white 0%, rgba(255, 255, 255, 0.48) 100%), $light-gray;
  height: 30vh;
}


.genre-cards-main {
  width: 100vw;
  height: 15vh;
  position: absolute;
  top: 33%;
  background-color: transparent;
  padding-left: 5vw;
}

.main-genre {
  margin: 0;
  height: 100%;
  background-color: transparent;
}

.genre-container{
  border-radius: 20px;
  background-color: none;
  width: 100%;
  height: 15vh;
  background-size: cover;
  background-position: center;
  margin: 0;
}

.genre-text {
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  line-height: 14px;
  right: 41vw;
  top: 4vh;
}

.genre-container h4 {
  margin: 0 auto !important;
}

.genre-title {
  color: $white;
  line-height: 1.5em;
  font-size: .94em;
}

@media (max-width: 320px) {
  .genre-text {
    font-size: 10px;
    right: 40vw;
  }
}

// FRANK WAS HEREEEEEEEEEEEE
.home-main{
  background: linear-gradient(180deg, rgba(28, 28, 28, 0.6) 0%, rgba(255, 255, 255, 0) 100%), url(https://res.cloudinary.com/detnzqadn/image/upload/v1599102953/photo-1562409733-b21abfd782a1_vpotyu.jpg), $light-gray;
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.home_page_title_container{
  position:absolute;
  width: 100vw;
  top: 10vh;
}
.home_page_title{
  font-family: 'Pragati Narrow', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  text-transform: capitalize;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  color: $white;
}

.mu {
  height: 1vh;
  width: 52px;
  border-top: 3px solid $white;
  left: 52vw;
  position: absolute;
  top: 7px;
}

.home_page_subtitle{
  text-align: center;
  font-family: 'roboto';
  font-style: normal;
  color: $white;
  font-weight: 100;
  font-size: 18px;
}

.spotify{
  position:absolute;
  width: 100vw;
  text-align: center;
  top: 60vh;
}

.spotify-text{
  text-align: center;
  font-family: Roboto;
  font-size: 1.8vh;
  color: $white;
  font-weight: 100;
  width: 60vw;
  margin: 2vh auto;
}

.spotify-logo{
  width: 12vw;
  height: 12vw;
}

.logo_container_style {
  position:absolute;
  width: 100%;
  top: 10vh;
}
