#modal-content-background-home-page {
  background-color: transparent;
  border: none;
}

.home-page {
  height: 100vh;
  width : 100vw;
  background-image: url("https://res.cloudinary.com/detnzqadn/image/upload/v1598463761/photo-1543007630-9710e4a00a20_jg8nze.jpg");
  background-position: center;
  background-size: cover;
}

.title {
  font-weight: 900;
  font-size: 50px;
  color: $white;
}

.sub-title {
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  color: $white;
}

.under-search {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: $white;
}

.letter-thingy {
  width: 70px;
  height: 5px;
  left: 105px;
  position: absolute;
  background-color: white;
}

.search-bar {
  border-radius: 20px;
  opacity: 0.5;
  width: 80vw;
  background-color: rgba(195, 195, 195, 0.7);
}

.search-bar::placeholder {
  color: white;
  opacity: 1;
  padding: 1em;
}

.search-bar:focus {
  color: white;
  opacity: 0.9;
  outline: none;
}

.submit-btn {
  background: $white;
  border: none;
  color: $black;
  position: absolute;
  right: 5vw;
}

.animate-bottom {
  position: relative;
  animation: animatebottom 0.4s;
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
}

to {
    bottom: 0;
    opacity: 1;
}
}

.modal-body {
  display: flex;
  align-items: space-between;
  flex-wrap: wrap;
  justify-content: center;
  height: 90vh;
  width: 100vw;
}

.container-flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 85vh;
  width: 85vw;
}

.genre-container{
  width: 34vw;
  height: 20vh;
  background-size: cover;
  background-position: center;
  margin: 20px;
}

.genre-container h4 {
  margin: 0 auto !important;
}

.genre-title {
  color: $white;
  line-height: 1.5em;
  font-size: .94em;
}

.background-light {
  background: linear-gradient( rgba(244,244,244,0.3),rgba(244,244,244,0.4));
}

.btn-close {
  width: 80vw;
  height: 2rem;
  display: inline-block;
}

// FRANK WAS HEREEEEEEEEEEEE
.home-main{
  background: linear-gradient(180deg, rgba(28, 28, 28, 0.6) 0%, rgba(255, 255, 255, 0) 100%), url(https://res.cloudinary.com/detnzqadn/image/upload/v1599102953/photo-1562409733-b21abfd782a1_vpotyu.jpg), #F0F0F0;
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.home_page_title_container{
  position:absolute;
  width: 100vw;
  top: 10vh;
}
.home_page_title{
  font-family: 'Pragati Narrow', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  text-transform: capitalize;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
}

#mu{
  height: 1vh;
  width: 9vh;
  border-top: 3px solid white;
  left: 52.5vw;
  position: absolute;
  top: 7px;
}

.home_page_subtitle{
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  color: #FFFFFF;
  font-weight: 300;
}

.spotify{
  position:absolute;
  width: 100vw;
  text-align: center;
  top: 53vh;
}

.spotify-text{
  text-align: center;
  font-family: Roboto;
  font-size:2vh;
  color: #FFFFFF;
  font-weight: 300;
  width: 60vw;
  margin: 2vh auto;
}

.spotify-logo{
  width: 48px;
  height: 48px;
}

// ENDS HERE