.home-page {
  height: 100vh;
  width : 100vw;
  background-image: url("https://res.cloudinary.com/detnzqadn/image/upload/v1598463761/photo-1543007630-9710e4a00a20_jg8nze.jpg");
  background-position: center;
  background-size: cover;
}

.title {
  font-weight: 900;
  font-size: 50px;
  color: $white;
}

.sub-title {
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  color: $white;
}

.under-search {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: $white;
}

.search-bar {
  border-radius: 20px;
  opacity: 0.5;
  width: 80vw;
}

.search-bar::placeholder {
  color: $primary;
  opacity: 0.7;
  padding: 1em;
}

.search-bar:focus {
  color: $primary;
  opacity: 0.9;
  outline: none;
}

.submit-btn {
  background: $white;
  border: none;
  color: $black;
  position: absolute;
  right: 5vw;
}

.animate-bottom {
  position: relative;
  animation: animatebottom 0.4s;
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
}

to {
    bottom: 0;
    opacity: 1;
}
}

.genre-container{
  height: 25vh;
  width: 35vw;
  background-size: cover;
  background-position: center;
}

.genre-container h4 {
  margin: 0 auto !important;
}

.genre-title {
  color: $white;
  line-height: 2em;
  font-weight: bold;
  font-size: 20px;
}

#modal-content-background-home-page {
  background: none;
  border:none;
}

#modal-body-home {
  box-shadow: none;
}

.background-light {
  background: linear-gradient( rgba(244,244,244,0.3),rgba(244,244,244,0.4));
}
