// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "swiper";
@import "show_page";
@import "homepage";
@import "form";
@import "reviews";
@import "tags";
@import "index_page";
@import "map"
