.mapboxgl-popup {
    max-width: 300px;
    width: 167px;
    height: 113px;
    border:none;
    box-shadow: none;
}
.mapboxgl-popup-content {
    font-family: 'Open Sans', sans-serif;
    border-radius: 20px;
    background:none;
    box-shadow: none !important;
}

.main-map {
  overflow: hidden;
  position: fixed !important;
  top: 0px;
}

.background-popup{
  border-radius: 20px;
  height: 113px;
  width: 167px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2)
}

.pop-up-text-title{
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bolder;
  font-style: normal;
  margin: 0px;
  
}

.pop-up-text{
  color:white;
  margin: 0px;
  font-weight: bolder;
}
.mapboxgl-ctrl-top-left{
  top: 40px !important;
  left: 85%;
}
.mapboxgl-ctrl-geocoder{
  margin:0 !important;
  width: 25% !important;
  right: 30%;
  top: 9px !important;
  height: 30px !important; 
  z-index: 1 !important;
  margin-right: 2px !important;
  align-items: center !important;
}

.mapboxgl-ctrl-geocoder--input{
  height: 30px !important;
}

.mapboxgl-ctrl-geocoder--input:focus{
  border: none !important;
}


.mapboxgl-ctrl-geocoder--icon-search{
  top: 4px !important;
  left: 85% !important;
}

.mapboxgl-ctrl-geocoder--icon-close{
  margin-top: 0px !important;
}

.mapboxgl-ctrl-geocoder--icon-loading{
  margin-top: 0 !important;
}

@media (max-width: 370px) {
  .mapboxgl-ctrl-geocoder{
    margin:0 !important;
    right: 12%;
    top: 9px !important;
    height: 30px !important; 
    z-index: 1 !important;
    margin-right: 2px !important;
    align-items: center !important;
  }
  
}