
@media (max-width: 575.98px) {
  .mdlgscreens-query {
    display: none;
  }
  .bd-highlight {
    display: none;
  }
}

@media (min-width: 575.98px) {
  .mdlgscreens-query {
    width: 100vw;
    height: 100vh;
    background-color: $light-gray;
    z-index: 20000;
    position: absolute;
  }
  .genre-card-container {
    display: none;
  }
  .genre-container {
    display: none;
  }
  .queryplaces-container {
    display: none;
  }
}
