.navigation {
  z-index: 13;
  transition-duration: 1000ms;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: $white;
}

#main-back-button{
  position: absolute;
  font-size: 3.5vh;
  top: 2.5vh;
  left: 5vw;
}

.top {
  top: -100vh;
}

.home-address {
  background-color:transparent;
  border: 1px solid $white;
}

.home-address::placeholder {
  color: $white;
}

.bottom {
  top: 0;
}

.home-button {
  background-color: $light-gray !important;
  opacity: .7;
}

#address-button{
  padding: .2vh;
  font-size: 2vh;
}

#main-menu-button {
  position: absolute;
  font-size: 3.5vh;
  top: 1.5vh;
  right: 5vw;
}

.main-menu-white {
  color: $white;
}

.main-menu-blue {
  color: $blue;
}

.main-menu-black {
  color: $black;
}

.search {
  width: 65vw;
  padding: 1vh 2vw;
  border-radius: 2vw;
}

.search-home {
  width: 73vw;
  padding: 1vh 2vw;
  border-radius: 2vw;
  background-color: transparent !important;
  box-shadow: none;
  border: none;
}

#main-menu-close {
  color: $black;
  position: absolute;
  font-size: 3.5vh;
  top: 1.5vh;
  right: 5vw;
}

.navigation-bar {
  right: 0;
  z-index: 12;
  position: fixed;
  background-color: none;
  height: 7vh;
  width: 100vw;
  right:0;
}

.navigation-bar-white {
  right: 0;
  z-index: 12;
  position: fixed;
  background-color: none;
  height: 7vh;
  width: 100vw;
}

.main-search-button {
  background-color: $blue;
  width: 4.5vh;
  height: 4.5vh;
  border-radius: 50%;
  position: absolute;
  top: 1.7vh;
  right: 8vh;
}

.main-search-button-home {
  background-color: $blue;
  width: 4.5vh;
  height: 4.5vh;
  position: absolute;
  top: 1.7vh;
  right: 8vh;
}


.main-search-button-home {
  font-size: 3vh;
  width: 4.5vh;
  height: 4.5vh;
  border-radius: 50%;
  position: absolute;
  top: 2.3vh;
  left: 2.3vh;
  background: none !important;
  color:$white;
}

.main-search-button i {
  color: $white;
  font-size: 2vh;
}

@media (max-width: 320px) {

  .main-search-button i {
    margin-left: 2vw;
  }

  #address-button{
    padding: .8vh;
    font-size: 2.2vh;
  }
}
