.navigation {
  z-index: 13;
  transition-duration: 1000ms;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: white;
}

#main-back-button{
  color: white;
  position: absolute;
  font-size: 3.5vh;
  top: 2.5vh;
  left: 5vw;
}

.top {
  top: -100vh;
}

.bottom {
  top: 0
}

#main-menu-button {
  position: absolute;
  font-size: 3.5vh;
  top: 1.5vh;
  right: 5vw;
}

.main-menu-white {
  color: white
}

.main-menu-black {
  color: #424040
}

#main-menu-close {
  color: #424040;
  position: absolute;
  font-size: 3.5vh;
  top: 1.5vh;
  right: 5vw;
}

.navigation-bar {
  z-index: 12;
  position: fixed;
  background-color: none;
  height: 7vh;
  width: 100vw;
}

#main-search-button {
  background-color: $blue;
  width: 4.5vh;
  height: 4.5vh;
  border-radius: 50%;
  position: absolute;
  top: 1.7vh;
  right: 8vh;
}

#main-search-button i {
  color: white;
  font-size: 2vh;
}
