.show-reviews {
  height: 18vh;
  padding: 5px 5px;
}

#reviews-title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: capitalize;
  margin-bottom: 1.5vh;
}

.reviews-card {
  position: relative;
  height: 60%;
  width: 88vw;
}

.review-button{
  right: 5%;
  position: absolute;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $blue;
}

.reviews-info {
  width: 98%;
}

.review-user {
  top: -20px;
  left: 0%;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  text-transform: capitalize;
  color: $black;
  margin-bottom: .7vh;
}

.review-content {
  width: 95%;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 2.3vh;
  text-align: justify;
  color: $black;
  margin-bottom: .7vh;
}

#modal-review-title {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  text-transform: capitalize;
  color: $black;
}

#review-modal-header {
  padding: 10px;
}

#review-modal-content {
  background-color: $white;
}

#review-modal-footer {
  padding: 5px;
}

.review-body {
  height: 50vh;
  width: 90vw;
  position: relative;
}

#btn-close {
  position: absolute;
  top: 10px;
  right: 5px;
}

.new_review {
  margin-left: 5vw;
  height: 40vh;
  width: 80vw;
}

.review-rating {
  line-height: 10px;
  padding: 0;
  position: absolute;
  top: 0;
  right: 5%;
  letter-spacing: -2px;
}

.review-rating i {
  color: $yellow;
  font-size: 11px;
}

@media (max-width: 320px) {

  #reviews-title {
    margin-bottom: 1.3vh;
  }

  .review-content {
    font-size: 10px;
    width: 95%;
    line-height: 2.3vh;
    color: $black;
    margin-bottom: 1px;
  }
}
