.place-rating {
  line-height: 10px;
  padding: 0;
  position: absolute;
  top: 5vh;
  right: 5%;
  letter-spacing: -2px;
}

.place-rating i {
  color: #EAAE40;
  font-size: 15px;
}


.show-container {
  height: 100vh;
  width: 100vw;
}

.show-photo {
  height: 16vh;
  border-radius: 18px;
  background-size: cover;
  background-position: center;
}

.place-info {
  height: 40vh;
  padding-top: 7%;
  padding-bottom: 7%;
}

.show-main {
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 65vh;
  background-size: cover;
  background-position: center;
}

.show-description {
  height: 14vh;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 2.3vh;
  text-align: justify;
  padding: 0 5px;
}

@media (max-width: 320px) {
  .show-description{
    font-size: 10px;
  }
}

.place-container {
  position: relative;
  top: 60vh;
  margin-top: 0vh;
  background-color: #ffffff;
  border-radius: 25px;
  padding-bottom: 20px;
  height: 100vh;
}

#show-title {
  font-size: 24px;
  margin-bottom: 5px;
}

#show-address {
  line-height: 14px;
  font-size: 14px;
  margin-bottom: 2px;
}

#show-url {
  font-size: 12px;
  margin-bottom: 5%;
}
