.s1 {
  width: 100%;
}

.s2 {
  width: 100%;
}

.s3 {
  width: unset !important;
}

.swiper-slide {
  text-align: left;
  background: $white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
