.favorite-photos{
  width: 100px;
  height: 80px;
  background-position: center;
  background-size: cover;
}
.user-pic {
  padding-top: 100%;
  width: 100%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}
.overflow{
  width: 91vw; 
  overflow:scroll; 
  position:relative;
  height: 105px;
}

.fav{
  font-size: 11px;
  margin-bottom: 0;
  margin-top: 5px;
  opacity: 0.5;
}

.title{
  margin-bottom:0;
}

.user-info{
  padding: 0;
  margin-top: 3px;
}
.user-name{
  font-size: 17px;
  font-weight: bold;
}
.edit{
  font-size: 11px;
  opacity: 50%;
}

.logout{
  font-size: 11px;
  margin-top: 7px;
  opacity: 80%;
}

.user-title{
  font-size: 15px;
  padding-top: 1px;
  margin-top: 8px;
  margin-bottom: 5px;
  font-weight: bold;
}
.place-name{
  font-weight: bold;
  font-size: 10px;
  margin-top: 8px;
}
.place-address{
  margin-top: 5px;
  font-size: 7px;
}
.place-genre{
  font-size: 9px;
  margin-top: 17px;
  margin-left: 16px;
}
.place-rating{
  margin-top: 4px;
  padding-left: 15px;
}
.add-venmu{
  color: #F4F4F4;
  background: #47768E;
  border-color: #47768E;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  width: 160px;
}

.user-card{
  width: 90vw; 
  height: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #F4F4F4;
  background-clip: border-box;
  border: 1px solid rgba(9, 11, 9, 0.125);
  border-radius: 25px;
}

.avg-rating{
  margin-top: 6px;
  margin-right: 22px;
  margin-left: 20px;
  padding-top: 4px;
}

.genre-border{
  border-style: solid;
  border-color: #D4D4D4;
  border-radius: 25px;
  border-width: 1px;
  width: 60px;
}
