// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "jquery-bar-rating/dist/themes/css-stars";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';
@import "swiper/swiper-bundle";
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder';

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "font-awesome";

#spb {
  position: absolute;
  width: 369px;
  height: 46px;
  left: 23px;
  top: 176px;

  background: #1CD25D;
  border-radius: 25px;
}

.main-container {
  overflow: scroll;
  height: 100vh;
  width: 100vw;
}
