<div class="genre-main d-flex justify-content-center">

  <div class="navigation-bar-white">
  <%= link_to '/', method: :get do %>
  <div id="main-back-button" class="d-flex align-items-center justify-content-center" style=" color: white" ><i class="fas fa-chevron-left"></i></div>
  <% end %>
  </div>



  <div class="genre_page_title_container ">
    <p class="genre_page_subtitle d-flex justify-content-center">Your most listened genres on Spotify:</p>
    <p class="genre_page_subsubtitle d-flex justify-content-center">Pick one!</p>
  </div>
  <div class="topgenre-container justify-content-center align-items-start row">
    <% [['rock', 1], ['pop', 2], ['latin', 2], ['hiphop', 4], ['hiphop', 4]].each do |genre| %>
      <%= link_to places_path({ query: genre[0] }), method: :get, class: "no-underline user-topgenre-card col-11 d-flex justify-content-center align-items-center" do %>
        <p class="genre-card-name"><%= genre[0].capitalize %></p>
      <% end %>
    <% end %>
  </div>

</div>
